<%- include("./../layout/header"); -%>

    <!--welcome area start-->
    <div class="welcome-area wow fadeInUp" id="home">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 text-center">
                    <div class="login-part col-12 col-md-12">
                        <h4>REGISTER</h4>
                        <%- include("./../alerts/alert"); -%>
                        <form class="set-form" action="/register" method="post">
                            <input class="form-login col-md-6 col-sm-12 mb-3" id="" type="email" name="email" placeholder="Your Email">
                            <br>
                            <input class="form-login col-md-6 col-sm-12 mb-3" id="" type="password" name="password" placeholder="Your Password">
                            <br>
                            <input class="form-login col-md-6 col-sm-12 mb-3" id="" type="password" name="re-password" placeholder="Your Re-Password">
                            <br>
                            <input class="login-btn" id="" type="submit" value="Register">
                        </form>
                        <p>Did you have an account? <a href="/login">Login Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--welcome area end-->
<%- include("./../layout/footer"); -%>