<%- include("./../layout/header"); -%>
    <!--welcome area start-->
    <div class="welcome-area wow fadeInUp" id="home">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 text-center">
                    <div class="login-part col-12 col-md-12">
                        <h6>We have been send recover password link to your email, please check to update your password</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--welcome area end-->
<%- include("./../layout/footer"); -%>