<%- include("./../layout/header"); -%> 

    <!--welcome area start-->
    <div class="welcome-area wow fadeInUp" id="home">
        <div id="particles-js"></div>
        <div class="container">
            <div class="space-100"></div>
            <div class="db-title text-center">
                <h3>EXCHANGE ASSETS</h3>
            </div>
            <div class="space-50"></div>
            <hr class="bg-white">
            <div class="space-30"></div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="assets-box text-center">
                        <div class="select-part">
                            <select id="coin_1" class="select-assets">
                                <option selected value="btc">BTC</option>
                                <option value="wbt">WBT</option>
                            </select>
                            <span class="exchange-icon"><i class="fa fa-exchange"></i></span>
                            <select id="coin_2" class="select-assets">
                                <option value="btc">BTC</option>
                                <option selected value="wbt">WBT</option>
                            </select>
                        </div>
                        <div class="space-30"></div>
                        <div>
                            <div class="balance-assets">0.00 BTC</div>
                        </div>
                        <div class="space-30"></div>
                        <div class="col-12 text-center">
                            <input class="add-amount-swap col-8" type="number" min="0" placeholder="Amount">
                        </div>
                        <div class="space-30"></div>
                        <div class="col-12 text-center">
                            <a id="swap-coin" href="#" class="logibtn gradient-btn">Exchange</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="assets-box text-center">
                        <div class="checkin">
                            <div class="name-bill">Exchange</div>
                            <div class="value-bill">
                                <div>$0.00</div>
                                <div>0.00 BTC</div>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <hr class="bg-white">
                        <div class="checkin">
                            <div class="name-bill">Fees</div>
                            <div class="value-bill">
                                <div>$0.00</div>
                                <div>0.00 BTC</div>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <hr class="bg-white">
                        <div class="checkin">
                            <div class="name-bill">Send</div>
                            <div class="value-bill">
                                <div>$0.00</div>
                                <div>0.00 BTC</div>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <hr class="bg-white">
                        <div class="checkin">
                            <div class="name-bill">Receive</div>
                            <div class="value-bill">
                                <div>$0.00</div>
                                <div>0.00 BTC</div>
                            </div>
                        </div>
                    </div>
                    <div class="assets-box text-center">
                        <div class="">
                            <div class="">Price</div>
                            <div class="space-10"></div>
                            <div class="">
                                <span>1 BTC</span> = <span>1 ETH</span>
                            </div>
                        </div>
                    </div>
                    <div class="assets-box text-center">
                        <div class="checkin">
                            <div class="name-bill font-bold">Exchange</div>
                            <div class="value-bill">
                                <div>$0.00</div>
                                <div>0.00 BTC</div>
                            </div>
                        </div>
                    </div>
                    <p class="des-swap">All amounts are correct at this time but may change depending on the market price and network congestion at the time of your transaction.</p>
                </div> -->
            </div>
        </div>
    </div>
    <!--welcome area end-->

<%- include("./../layout/footer"); -%> 